@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
  align-items: center;
  gap: 24px;
  padding: 16px 15%;
  background-color: #1f2937;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

main {
  flex-grow: 1;
}

.intro {
  display: flex;
  background-color: #1f2937;
  padding: 100px 15%;
}

.intro-text,
.intro-image {
  flex: 1;
}

.intro-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.intro-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.intro-button {
  background-color: #3882f6;
  color: white;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
  border: none;
}

.intro-image {
  background-color: #6d747d;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
